<div class = "container py-3">
    <div class ="row">
        <!--left col-->
        <div class ="col">

        </div>
        <!--center col-->
        <div class ="col-8">
            <div class = "card">
                <div class ="card-body">
                    <form>
                        <div class="container">
                            <!--name row-->
                            <div class ="row py-3">
                                <div class="col">
                                     <!--first name-->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="firstname">Fristname</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"> 
                                    </div>
                                </div>
                                <div class="col">
                                     <!--Lastname-->
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="lastname">Lastname</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" > 
                                    </div>
                                </div>
                            </div>
                            <!--Adress row-->
                            <div class ="row">
                                <!--Adress-->
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="adress">Adress</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"> 
                                    </div> 
                                </div>
                                 <!--zip-code-->
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="zip-code">Zip-code</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"> 
                                    </div> 
                                </div>
                            
                            </div>
                            <!--country-->
                            <div class ="row">
                                <ng-multiselect-dropdown
                                name="city"
                                [placeholder]="'Select City'"
                                [data]="dropdownList"
                                [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)">
                            </ng-multiselect-dropdown>
                            </div>
                        </div>     
                    </form>
                </div>
            </div>       
        </div>
        <!--right col-->
        <div class ="col">

        </div>
    </div>
</div>
     
