<div class="container py-3">
    <div class="card">
        <div class ="card-body">
            <h5 class="card-title text-center">Our prices</h5>
            <div class="container">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula tortor vitae erat fringilla, pulvinar malesuada sem tincidunt. Mauris pretium sem placerat, laoreet augue et, dictum neque. Phasellus pellentesque scelerisque dapibus. Ut placerat condimentum efficitur.</p>
                </div>
                <hr>
                <!--Lecture Denmark-->
                <div>
                    <div class="float-left">
                        <p>Lecture Denmark</p>
                    </div>
                    <div class="float-right">
                        1000£
                    </div>
                    <br>    
                </div>
                <br>
              
                <!--Lecture in-house-->
                <div>
                    <div class="float-left">
                        <p>Lecture in-house</p>
                    </div>
                    <div class="float-right">
                        5000£
                    </div>
                    <br>
                </div>
                <br>

                <!--Lecture Denmark-->
                <div>
                    <div class="float-left">
                        <p>Full course Denmark</p>
                    </div>
                    <div class="float-right">
                        5000£
                    </div>
                    <br>
                </div><br>

                <!--Lecture Denmark-->
                <div>
                    <div class="float-left">
                        <p>Full course in-house</p>
                    </div>
                    <div class="float-right">
                        1000£
                    </div>
                    <br>
                </div>
                <hr>
                <div>
                    <p class="text-center">Nunc mollis id est nec convallis. Morbi purus odio, vestibulum in hendrerit ut, ullamcorper non nulla. <br>
                        For further price inquiries, click <a href="contact">here</a> to contact us</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-center">
            Copyright Nicolaj Kold Zefting
        </div>
    </div>
</div>
