<div class = "container py-3">
    <div class = "card">
        <div class ="card-body">
            <form #f="ngForm">
                <div class="container">
                    <h5 class="card-titel text-center pb-1">Contact</h5>
                    <ngb-alert *ngIf="show == true" type="success" (close)="show=false">
                    <strong>Message Sendt</strong> 
                    </ngb-alert>
                    <div class ="row">
                        <div class="col">
                            <p>Mauris varius lorem sapien. Etiam lacus nibh, sodales non neque sed, convallis varius neque. Mauris sed semper lectus, at dignissim dui. Proin semper lorem ut turpis laoreet porttitor.</p>
                        </div>
                    </div>
                    <div class="row">
                         <!--firm-->
                         <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="zip-code">Firm</span>
                            </div>
                                <input type="text" class="form-control" name = "firm" [(ngModel)]="contactModel.firm" id="firm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div> 
                        </div>
                    </div>
                    <div class="row py-1">
                            <!--email-code-->
                         <div class="col">
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                 <span class="input-group-text" id="email">Email</span>
                             </div>
                             <input type="email" class="form-control" name="email" [(ngModel)]="contactModel.email" aria-label="Small" aria-describedby="inputGroup-sizing-sm"> 
                             </div> 
                         </div>
                     </div>
                    
                    <!--Comment-->
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="comment">Comment</span>
                            </div>
                            <textarea class="form-control" name="comment" [(ngModel)]="contactModel.comment" aria-label="With textarea"></textarea>
                            </div> 
                        </div>
                    </div>
                    <div class="row py-3">  
                        <div class="mx-auto">
                            <button class="btn btn-dark" type="submit" (click)="onSubmit()">Submit</button>
                        </div>
                    </div>
                </div>     
            </form>
        </div>
        <div class="card-footer text-muted text-center">
            Copyright Nicolaj Kold Zefting
        </div>
    </div>              
</div>
   