
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="price">Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="order">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
       
      </ul>
    </div>
  </nav>
<div class ="container">
  <div class="row">
    <div class="col">
        
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
    <div class="col">

    </div>
  </div>
</div>
