<div class="container py-3">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row pb-3">
                    <h4 class="mx-auto">Lecture Denmark</h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis felis nec nunc iaculis feugiat. 
                        Phasellus ac mollis dolor, quis pulvinar massa. <br>
                        Aliquam eu lacus mauris. Donec tristique accumsan fringilla. Suspendisse potenti. Morbi hendrerit malesuada enim, a aliquam sem condimentum quis. <br>
                        Nunc non est vel ipsum dignissim cursus. Donec luctus, eros eget bibendum pellentesque, tellus sapien mollis orci, id iaculis lorem urna vel nulla. <br>
                        Vivamus sem ligula, finibus ut sollicitudin id, tincidunt ut ex. br
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam aliquam tempor nulla. Donec vitae faucibus sapien.
                    </p><br>
                    <a href="price" class="btn btn-dark mx-auto">Click here for prices</a>
                </div>
                <div class="row">
                    <img src="assets/img/dentist-service-1.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
                </div>

                <div class="row py-3">
                    <h4 class="mx-auto">Lecture in-house</h4>
                    <p> Sed id tempus tortor, in iaculis ligula. Sed vehicula magna pharetra tellus eleifend, ac pulvinar neque volutpat. 
                        Morbi luctus lacus eu ultricies imperdiet. Etiam tincidunt imperdiet mattis. Duis nec ligula nulla. 
                        Donec purus ipsum, fermentum id dolor ut, consequat feugiat mi. 
                        Ut mi est, euismod at ultricies porttitor, pharetra et enim. Donec feugiat, odio ut posuere scelerisque, nunc massa sagittis magna, vitae eleifend eros velit eget metus. 
                        Aenean in vehicula lectus, sed ullamcorper neque. Nullam vestibulum ligula ut condimentum mollis. 
                        Curabitur et tempus arcu. Donec bibendum, nibh sit amet pretium viverra, ex libero tristique turpis, ut blandit erat est et ex. Vestibulum a aliquet odio.
                    </p><br>
                    <a href="price" class="btn btn-dark mx-auto">Click here for prices</a>
                </div>
                <div class="row">
                    <img src="assets/img/dentist-service-2.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
                </div>

                <div class="row py-3">
                    <h4 class="mx-auto">Full course Denmark</h4>
                    <p> Etiam nec quam scelerisque, porta massa et, mattis lorem. 
                        Nunc ut blandit ex. Nam in neque eleifend, tristique erat non, vestibulum turpis. Nulla a maximus velit, ac vulputate magna. 
                        Donec et dui neque. Integer auctor nec elit a feugiat. Nam purus leo, sagittis vitae magna sed, molestie bibendum erat. Nunc id luctus quam. 
                        Aliquam consequat egestas bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas semper aliquet pharetra. 
                        Vestibulum sem diam, dapibus venenatis purus at, luctus vestibulum nulla. Maecenas in nibh nisl. Nullam sapien leo, maximus ut sollicitudin eget, efficitur vitae tellus.
                        Ut accumsan vulputate malesuada.
                    </p><br>
                    <a href="price" class="btn btn-dark mx-auto">Click here for prices</a>
                </div>
                <div class="row">
                    <img src="assets/img/dentist-service-3.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
                </div>

                <div class="row py-3">
                    <h4 class="mx-auto">Full course in-house</h4>
                    <p> In dignissim bibendum gravida. 
                        Suspendisse accumsan nulla eu arcu accumsan condimentum. 
                        In massa nisi, ultrices quis diam non, iaculis dignissim erat. 
                        Ut tincidunt convallis est, id cursus augue. 
                        Donec leo justo, ornare non est sed, mollis lobortis elit. 
                        Aliquam nec diam interdum, suscipit mi ac, congue dolor. 
                        Nam luctus urna sed quam semper, quis fringilla tellus sagittis. 
                        Maecenas condimentum quam ut nibh imperdiet pulvinar nec vel nisi. 
                        Maecenas luctus metus at leo tempor, in malesuada diam scelerisque. 
                        Aenean bibendum, libero a sodales sodales, dui nibh malesuada ligula, a ultrices tortor turpis ac arcu. 
                        Proin justo quam, posuere quis imperdiet in, accumsan nec ipsum. In luctus ultrices purus, sit amet consectetur massa. 
                        Quisque eu sodales ipsum, non porta arcu. Fusce mattis sollicitudin lacus vel dignissim. 
                        Nulla tincidunt ligula sed turpis hendrerit hendrerit. Curabitur pulvinar ac urna ac ultrices.
                    </p><br>
                    <a href="price" class="btn btn-dark mx-auto">Click here for prices</a>
                </div>
                <div class="row">
                    <img src="assets/img/dentist-service-4.jpg" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
                </div>
            </div> 
        </div>
        <div class="card-footer text-muted text-center">
            Copyright Nicolaj Kold Zefting
        </div>
    </div>         
</div>
