<div class = "container py-3">
    <div class = "card">
        <div class ="card-body">
            <form  #f="ngForm">
                <div class="container">
                    <h5 class="card-titel text-center pb-1">Booking</h5>
                    <!--name row-->
                    <div class ="row py-1">
                        <div class ="col">
                             <!--firstname and lastname-->
                             <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="firstname">Frist and last name</span>
                                </div>
                                <input type="text" class="form-control" name="firstname" [(ngModel)]="Submitorder.firstname" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                <input type="text" class="form-control" name="lastname" [(ngModel)]="Submitorder.lastname" aria-label="Small" aria-describedby="inputGroup-sizing-sm"> 
                            </div>
                        </div>
                            
                    </div>
                    <!--Adress row-->
                    <div class ="row">
                        <!--Adress-->
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="address">Address</span>
                                </div>
                                <input type="text" class="form-control" name="address" [(ngModel)]="Submitorder.address" aria-label="Small" aria-describedby="inputGroup-sizing-sm"> 
                            </div> 
                        </div>
                         <!--zip-code-->
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text"  id="zip-code">Zip</span>
                            </div>
                            <input type="number" class="form-control" name="zip" [(ngModel)]="Submitorder.zip" aria-label="Small" aria-describedby="inputGroup-sizing-sm"> 
                            </div> 
                        </div>
                    </div>
                    <div class="row py-1">
                            <!--email-code-->
                         <div class="col">
                             <div class="input-group">
                                 <div class="input-group-prepend">
                                 <span class="input-group-text"  id="email">Email</span>
                             </div>
                             <input type="email" class="form-control" name="email" [(ngModel)]="Submitorder.email" aria-label="Small" aria-describedby="inputGroup-sizing-sm"> 
                             </div> 
                         </div>
                     </div>
                    
                    <!--country-->
                    <div class ="row py-1">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="country">Country</span>
                                </div>
                                <ng-multiselect-dropdown
                                    name="country"
                                    [placeholder]="'Country'"
                                    [data]="dropdownList"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)">
                                    </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>   
                    <div class="row">
                        <!--firm-->
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="firm">Firm</span>
                            </div>
                            <input type="text" class="form-control" name="firm" [(ngModel)]="Submitorder.firm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            
                            </div> 
                            <small><i>If relevant</i></small>
                        </div>
                    </div>
                    <!--Order-type-->
                    <div class="row py-1">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="order">Booking type</span>
                            </div>
                            <div class="small mx-auto">
                                <label class="px-1">Lecture Denmark<input type="checkbox"   name="bookingtype1" [(ngModel)]= "Submitorder.bookingtype"  placeholder ="lecture" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></label>
                                <label class="px-1">Lecture in-house<input type="checkbox"  name="bookingtype2" [(ngModel)]= "Submitorder.bookingtype"  placeholder ="lecture" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></label>
                                <label class="px-1">Full course Denmark<input type="checkbox"  name="bookingtype3" [(ngModel)]= "Submitorder.bookingtype"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></label>
                                <label class="px-1">Full course in-house<input type="checkbox"  name="bookingtype4" [(ngModel)]= "Submitorder.bookingtype"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"></label>
                   
                            </div>
                            
                            </div> 
                        </div>
                    </div>
                    <!--Comment-->
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="comment">Comment</span>
                            </div>
                            <textarea class="form-control" name="comment" [(ngModel)]="Submitorder.comment" aria-label="With textarea"></textarea>
                            </div> 
                        </div>
                    </div>
                    <!--submit-->
                    <div class="row py-3">
                        <div class="mx-auto">
                            <button class="btn btn-dark" type="submit" (click)="onSubmit()">Submit</button>
                        </div>

                    </div>
                    <pre>{{Submitorder | json}}</pre>      
                </div>     
            </form>
        </div>
        <div class="card-footer text-muted text-center">
            Copyright Nicolaj Kold Zefting
        </div>
    </div>
</div>